################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Automata/bin/Debug/net6.0
/FunctionsCore/bin/Debug/net6.0
/Automata/obj/Release/net6.0
/FunctionsCore/obj/Release/net6.0
/Automata/obj/staticwebassets.pack.sentinel
/Automata/obj/Debug/net6.0/ref
/Automata/obj/Debug/net6.0/refint
*.exe
/Automata/obj/Debug/net6.0/Automata.csproj.CopyComplete
/Automata/obj/Debug/net6.0/Automata.csproj.CoreCompileInputs.cache
/Automata/obj/Debug/net6.0/Automata.csproj.FileListAbsolute.txt
/Automata/obj/Debug/net6.0/Automata.dll
/Automata/obj/Debug/net6.0/Automata.genruntimeconfig.cache
/Automata/obj/Debug/net6.0/Automata.MvcApplicationPartsAssemblyInfo.cache
/Automata/obj/Debug/net6.0/Automata.MvcApplicationPartsAssemblyInfo.cs
/Automata/obj/Debug/net6.0/Automata.pdb
/Automata/obj/Debug/net6.0/staticwebassets.build.json
/Automata/obj/Debug/net6.0/staticwebassets.development.json
/FunctionsCore/obj/Debug/net6.0/ref
/FunctionsCore/obj/Debug/net6.0/refint
/FunctionsCore/obj/Debug/net6.0/EFCoreSqlServerNetTopologySuite.cs
/FunctionsCore/obj/Debug/net6.0/FunctionsCore.csproj.CopyComplete
/FunctionsCore/obj/Debug/net6.0/FunctionsCore.csproj.CoreCompileInputs.cache
/FunctionsCore/obj/Debug/net6.0/FunctionsCore.csproj.FileListAbsolute.txt
/FunctionsCore/obj/Debug/net6.0/FunctionsCore.dll
/FunctionsCore/obj/Debug/net6.0/FunctionsCore.pdb
/.vs/Automata/v17/.futdcache.v1
/.vs/Automata/FileContentIndex/f26426fd-4494-4ed6-b630-ed99dab8e101.vsidx
/.vs/Automata/FileContentIndex/0a506db5-f70c-4a2d-8f5d-bd4a3122ef71.vsidx
