@import './scrollbar.scss';
@import './keyboard.scss';
html {
  font-size: 20px;
}

.position-absolute {
  position: absolute;
}
.top-bot-0 {
  top: 0;
  bottom: 0;
}
.w-100 {
  width: 100%;
}
.wizard {
  &,
  .v-stepper__items,
  .v-stepper__content,
  .v-stepper__wrapper {
    height: 100%;
  }
  .v-stepper__content {
    padding: 0;
  }
  &.dense {
    .v-stepper__header {
      .v-stepper__label {
        max-width: 70px;
      }
    }
    .v-stepper__step {
      max-width: 130px;
      .v-stepper__step__step {
        padding-top: 1px;
        font-weight: bold;
      }
    }
  }
  .v-stepper__header {
    margin-bottom: 3px;
  }
  &.v-stepper--alt-labels {
    .v-stepper__header {
      height: 123px;
    }

    .v-stepper__label {
      text-align: center;
      white-space: break-spaces;
    }
  }
  .v-stepper__label {
    font-size: 0.725rem;
    small {
      margin-top: 2px;
    }
  }
  .wizard-step {
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .wizard-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px 25px 20px;
  }
  .wizard-input {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.select {
      justify-content: start;
      gap: 1rem;
    }
    .v-text-field__slot {
      input,
      .v-label {
        font-size: 1.8rem;
        line-height: 1.8rem;
        max-height: unset;
        height: unset;
      }
    }
    .v-counter {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
  .input-preview {
    display: flex;
    justify-content: center;
  }
}
.wizard-input {
  .input-title {
    font-size: 2.2rem;
    line-height: 1.2;
  }
  .input-text {
    font-size: 1.8rem;
    &.text-field {
      margin-top: auto;
      margin-bottom: 15px;
    }
  }
}
.gap-1rem {
  gap: 1rem;
}
.scrollable-layout {
  display: flex;
  flex: 1 1 auto;
  .scrollable-content {
    flex-grow: 1;
  }
}

.h-screen {
  height: 100vh;
}
.wizard-footer,
.footer {
  padding: 15px 25px;
  display: flex;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.12),
    0px -2px 2px 0px rgba(0, 0, 0, 0.14), 0px -1px 5px 0px rgba(0, 0, 0, 0.2) !important;

  .v-divider.v-divider--vertical {
    margin: 0 20px;
  }
  .info-text {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.select-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-color: var(--v-primary-base) !important;
  .v-card__title {
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .v-card__text {
    margin-top: auto;
  }
  .v-icon {
    margin-top: 2px;
  }
}
.disable-user-select {
  user-select: none;
}
