<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="layout" value="${pad:padding=-5:inner=${level:uppercase=true}} [${pad:padding=4:padCharacter=0:inner=${threadid}}] ${date:format=yyyy. MM. dd. HH\:mm\:ss} ${stacktrace:topFrames=2:skipFrames=1}: ${message} ${exception:maxInnerExceptionLevel=10}" />

  <targets>
    <target name="console" xsi:type="Debugger" layout="${layout}"/>
    <target name="file" 
			xsi:type="File" 
			layout="${layout}" 
			keepFileOpen="false" 
			fileName="${basedir}/Logs/${shortdate}.log" 
			archiveFileName="${basedir}/Logs/{#}.zip" 
			archiveEvery="Month" 
			archiveNumbering="Date" 
			archiveDateFormat="yyyy-MM"
			maxArchiveFiles="24" 
			enableArchiveFileCompression="true" />
	<target name="fileinfo" 
			xsi:type="File" 
			layout="${layout}" 
			keepFileOpen="false" 
			fileName="${basedir}/Logs/${shortdate}.info.log"
			archiveFileName="${basedir}/Logs/{#}.info.zip"
			archiveEvery="Month"
			archiveNumbering="Date"
			archiveDateFormat="yyyy-MM"
			maxArchiveFiles="24"
			enableArchiveFileCompression="true" />
	<target name="filewarn" 
			xsi:type="File" 
			layout="${layout}" 
			keepFileOpen="false" 
			fileName="${basedir}/Logs/${shortdate}.warn.log"
			archiveFileName="${basedir}/Logs/{#}.warn.zip"
			archiveEvery="Month"
			archiveNumbering="Date"
			archiveDateFormat="yyyy-MM"
			maxArchiveFiles="24"
			enableArchiveFileCompression="true" />
	<target name="fileerr" 
			xsi:type="File" 
			layout="${layout}" 
			keepFileOpen="false" 
			fileName="${basedir}/Logs/${shortdate}.err.log"
			archiveFileName="${basedir}/Logs/{#}.err.zip"
			archiveEvery="Month"
			archiveNumbering="Date"
			archiveDateFormat="yyyy-MM"
			maxArchiveFiles="24"
			enableArchiveFileCompression="true" />
  </targets>



  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
	<logger name="*" levels="Info" writeTo="fileinfo" />
	<logger name="*" levels="Warn" writeTo="filewarn" />
    <logger name="*" levels="Error,Fatal" writeTo="fileerr" />
  </rules>

</nlog>